<h1>Welcome to CSE Motors</h1>

<section class="hero">
    <img src="/images/vehicles/delorean.jpg" alt="">
    <div class="hero-text">
        <h1>DMC Delorean</h1>
        <ul>
            <li>3 cup holders</li>
            <li>Superman Doors</li>
            <li>Fuzzy Dice</li>
        </ul>
        <input type= "button" class="btn" value="Own Today">
    </div>
</section>
<div class="content">
    <section class="reviews">
        <h2>DMC Delorean Upgrades</h2>
        <ul class="open">
            <li>So fast it's almost traveling in time 4/5</li>
            <li>Coolest ride on the road 4/5</li>
            <li>Im feeling McFly 5/5</li>
            <li>The most futuristic ride of our day! 4.5/5</li>
            <li>80's and I'm lovin it 5/5</li>
        </ul>
    </section>
    <section class="upgrades">
        <h2>Delorean Upgrades</h2>
        <div class="cards">
            <div class="upgradeCard">
                <div>
                    <img src="/images/upgrades/flux-cap.png" alt="">
                </div>
                <a title="Click to log in" href="flux-capacitor">Flux Capacitor</a>
            </div>
            <div class="upgradeCard">
                <div>
                <img src="/images/upgrades/flame.jpg" alt="">
                </div>
                <a title="Click to log in" href="flux-capacitor">Flame Decals</a>
            </div>
            <div class="upgradeCard">
                <div>
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="">
                </div>
                <a title="Click to log in" href="flux-capacitor">Bumper Stickers</a>
            </div>
            <div class="upgradeCard">
                <img src="/images/upgrades/hub-cap.jpg" alt="">
                <a title="Click to log in" href="flux-capacitor">Hub Caps</a>
            </div>
        </div>
    </section>
</div>